<div class="card shadow p-4">
  <div class="d-flex justify-content-between alight-items-center">
    <div>
      Date
      <% if (date_time){ %>

        <%= date_time %>
          <% } %>
    </div>
    <div>
      State
      <%= state %>
    </div>
    <div>
      City
      <%= city %>
    </div>
  </div>
</div>